Version2.0.1/SRC/ServiceTool/service tool/Service References/ServiceProduction/ActivationUtilityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://license.zeiss.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://license.zeiss.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://license.zeiss.org/">
      <s:element name="ActivateCertificate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:ActivateCertificateRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ActivateCertificateRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ActivationIds" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="HostId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ActivateCertificateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActivateCertificateResult" type="tns:ActivateCertificateResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ActivateCertificateResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="tns:Status" />
          <s:element minOccurs="0" maxOccurs="1" name="Filename" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Certificate" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Status">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="flexnetErrorCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ActivateCertificateEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:ActivateCertificateRequestEx" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ActivateCertificateRequestEx">
        <s:complexContent mixed="false">
          <s:extension base="tns:ActivateCertificateRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="EntitlementIds" type="tns:ArrayOfString" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ActivateCertificateExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActivateCertificateExResult" type="tns:ActivateCertificateResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivateEntitlementId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:EntitlementIdActivationRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EntitlementIdActivationRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="activationIds" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="entitlementIds" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="requestXml" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ActivateEntitlementIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActivateEntitlementIdResult" type="tns:EntitlementIdActivationResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EntitlementIdActivationResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="tns:Status" />
          <s:element minOccurs="0" maxOccurs="1" name="responseXML" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LineItemDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:LineItemDetailRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LineItemDetailRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EntitlementId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ActivationId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RestrictToItemsWithCount" nillable="true" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="LineItemDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LineItemDetailsResult" type="tns:LineItemDetailResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LineItemDetailResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="tns:Status" />
          <s:element minOccurs="0" maxOccurs="1" name="LineItemDetails" type="tns:ArrayOfLineItemDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLineItemDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LineItemDetail" nillable="true" type="tns:LineItemDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LineItemDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ActivationId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductVersion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="QuantityRemaining" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderItemId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEntitlementIdFromActivationId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:ActivationIdToEntitlementIdRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ActivationIdToEntitlementIdRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ActivationId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEntitlementIdFromActivationIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEntitlementIdFromActivationIdResult" type="tns:ActivationIdToEntitlementIdResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ActivationIdToEntitlementIdResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="tns:Status" />
          <s:element minOccurs="0" maxOccurs="1" name="EntitlementId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEntitlementIdFromFulfillmentId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:FulfillmentIdToEntitlementIdRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FulfillmentIdToEntitlementIdRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FulfillmentId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEntitlementIdFromFulfillmentIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEntitlementIdFromFulfillmentIdResult" type="tns:FulfillmentIdToEntitlementIdResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FulfillmentIdToEntitlementIdResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="tns:Status" />
          <s:element minOccurs="0" maxOccurs="1" name="EntitlementId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ActivateLicenses">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:ActivateLicensesRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ActivateLicensesRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ActivationRequest" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ActivateLicensesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActivateLicensesResult" type="tns:ActivateLicensesResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ActivateLicensesResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ActivationResponse" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Certificates" type="tns:ArrayOfCertificateFile" />
          <s:element minOccurs="0" maxOccurs="1" name="Statuses" type="tns:ArrayOfActivationStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCertificateFile">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CertificateFile" nillable="true" type="tns:CertificateFile" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CertificateFile">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileContent" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfActivationStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ActivationStatus" nillable="true" type="tns:ActivationStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ActivationStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ActivationId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="tns:Status" />
        </s:sequence>
      </s:complexType>
      <s:element name="ActivateEmbeddedLicense">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authorizationToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:ActivateEmbeddedLicenseRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ActivateEmbeddedLicenseRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ActivationID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeviceID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ActivateEmbeddedLicenseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActivateEmbeddedLicenseResult" type="tns:ActivateEmbeddedLicenseResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ActivateEmbeddedLicenseResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeviceID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="License" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ActivateCertificateSoapIn">
    <wsdl:part name="parameters" element="tns:ActivateCertificate" />
  </wsdl:message>
  <wsdl:message name="ActivateCertificateSoapOut">
    <wsdl:part name="parameters" element="tns:ActivateCertificateResponse" />
  </wsdl:message>
  <wsdl:message name="ActivateCertificateExSoapIn">
    <wsdl:part name="parameters" element="tns:ActivateCertificateEx" />
  </wsdl:message>
  <wsdl:message name="ActivateCertificateExSoapOut">
    <wsdl:part name="parameters" element="tns:ActivateCertificateExResponse" />
  </wsdl:message>
  <wsdl:message name="ActivateEntitlementIdSoapIn">
    <wsdl:part name="parameters" element="tns:ActivateEntitlementId" />
  </wsdl:message>
  <wsdl:message name="ActivateEntitlementIdSoapOut">
    <wsdl:part name="parameters" element="tns:ActivateEntitlementIdResponse" />
  </wsdl:message>
  <wsdl:message name="LineItemDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:LineItemDetails" />
  </wsdl:message>
  <wsdl:message name="LineItemDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:LineItemDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetEntitlementIdFromActivationIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetEntitlementIdFromActivationId" />
  </wsdl:message>
  <wsdl:message name="GetEntitlementIdFromActivationIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetEntitlementIdFromActivationIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetEntitlementIdFromFulfillmentIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetEntitlementIdFromFulfillmentId" />
  </wsdl:message>
  <wsdl:message name="GetEntitlementIdFromFulfillmentIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetEntitlementIdFromFulfillmentIdResponse" />
  </wsdl:message>
  <wsdl:message name="ActivateLicensesSoapIn">
    <wsdl:part name="parameters" element="tns:ActivateLicenses" />
  </wsdl:message>
  <wsdl:message name="ActivateLicensesSoapOut">
    <wsdl:part name="parameters" element="tns:ActivateLicensesResponse" />
  </wsdl:message>
  <wsdl:message name="ActivateEmbeddedLicenseSoapIn">
    <wsdl:part name="parameters" element="tns:ActivateEmbeddedLicense" />
  </wsdl:message>
  <wsdl:message name="ActivateEmbeddedLicenseSoapOut">
    <wsdl:part name="parameters" element="tns:ActivateEmbeddedLicenseResponse" />
  </wsdl:message>
  <wsdl:portType name="ActivationUtilityServiceSoap">
    <wsdl:operation name="ActivateCertificate">
      <wsdl:input message="tns:ActivateCertificateSoapIn" />
      <wsdl:output message="tns:ActivateCertificateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivateCertificateEx">
      <wsdl:input message="tns:ActivateCertificateExSoapIn" />
      <wsdl:output message="tns:ActivateCertificateExSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivateEntitlementId">
      <wsdl:input message="tns:ActivateEntitlementIdSoapIn" />
      <wsdl:output message="tns:ActivateEntitlementIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LineItemDetails">
      <wsdl:input message="tns:LineItemDetailsSoapIn" />
      <wsdl:output message="tns:LineItemDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEntitlementIdFromActivationId">
      <wsdl:input message="tns:GetEntitlementIdFromActivationIdSoapIn" />
      <wsdl:output message="tns:GetEntitlementIdFromActivationIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEntitlementIdFromFulfillmentId">
      <wsdl:input message="tns:GetEntitlementIdFromFulfillmentIdSoapIn" />
      <wsdl:output message="tns:GetEntitlementIdFromFulfillmentIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivateLicenses">
      <wsdl:input message="tns:ActivateLicensesSoapIn" />
      <wsdl:output message="tns:ActivateLicensesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivateEmbeddedLicense">
      <wsdl:input message="tns:ActivateEmbeddedLicenseSoapIn" />
      <wsdl:output message="tns:ActivateEmbeddedLicenseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ActivationUtilityServiceSoap" type="tns:ActivationUtilityServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ActivateCertificate">
      <soap:operation soapAction="http://license.zeiss.org/ActivateCertificate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateCertificateEx">
      <soap:operation soapAction="http://license.zeiss.org/ActivateCertificateEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateEntitlementId">
      <soap:operation soapAction="http://license.zeiss.org/ActivateEntitlementId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LineItemDetails">
      <soap:operation soapAction="http://license.zeiss.org/LineItemDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntitlementIdFromActivationId">
      <soap:operation soapAction="http://license.zeiss.org/GetEntitlementIdFromActivationId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntitlementIdFromFulfillmentId">
      <soap:operation soapAction="http://license.zeiss.org/GetEntitlementIdFromFulfillmentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateLicenses">
      <soap:operation soapAction="http://license.zeiss.org/ActivateLicenses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateEmbeddedLicense">
      <soap:operation soapAction="http://license.zeiss.org/ActivateEmbeddedLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ActivationUtilityServiceSoap12" type="tns:ActivationUtilityServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ActivateCertificate">
      <soap12:operation soapAction="http://license.zeiss.org/ActivateCertificate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateCertificateEx">
      <soap12:operation soapAction="http://license.zeiss.org/ActivateCertificateEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateEntitlementId">
      <soap12:operation soapAction="http://license.zeiss.org/ActivateEntitlementId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LineItemDetails">
      <soap12:operation soapAction="http://license.zeiss.org/LineItemDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntitlementIdFromActivationId">
      <soap12:operation soapAction="http://license.zeiss.org/GetEntitlementIdFromActivationId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntitlementIdFromFulfillmentId">
      <soap12:operation soapAction="http://license.zeiss.org/GetEntitlementIdFromFulfillmentId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateLicenses">
      <soap12:operation soapAction="http://license.zeiss.org/ActivateLicenses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateEmbeddedLicense">
      <soap12:operation soapAction="http://license.zeiss.org/ActivateEmbeddedLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActivationUtilityService">
    <wsdl:port name="ActivationUtilityServiceSoap" binding="tns:ActivationUtilityServiceSoap">
      <soap:address location="http://activation.zeiss.com/CZEH/ActivationUtilityService.asmx" />
    </wsdl:port>
    <wsdl:port name="ActivationUtilityServiceSoap12" binding="tns:ActivationUtilityServiceSoap12">
      <soap12:address location="http://activation.zeiss.com/CZEH/ActivationUtilityService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>